.demo-page {
  background: #000;
  color: #fff;
  padding: 2em;
  min-height: 100vh;
  box-sizing: border-box;
  padding-left: 0;
}
.demo-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  color: #670e94;
  border: none;
  padding: 0.6em 1em;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.back-button:hover {
  color: #fff;
}

.demo-content {
  max-width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.demo-title {
  font-size: 4em;
  color: #670e94;
  text-transform: uppercase;
  font-family: "Monument Extended Black";
  text-align: left;
}

.demo-description {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #fff;
  max-width: 800px;
  text-align: left;
}

.title-section {
  color: #fff;
  font-size: 1.8em;
  text-align: left;
  margin: 0.1em;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  width: 100%;
}

.video-grid iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  border: none;
}
